{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-black">Who Are We ?</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first blue_background_paragraph">
                        <h4 class="text-center mt-5">OUR BEGINNINGS.</h4>
                        <hr class="w-50 mb-1">
                        <p class="information_paragraphs text-center">LCD KING (SY) ltd. was born in 2014 when our founder began refurbishing mobile phone LCD screens in his garden shed.</p>
                        <p class="information_paragraphs text-center"> In just four years our business has grown to a team of eight members of staff in two business premises.</p>
                        <p class="information_paragraphs text-center">We are now one of the leading mobile phone screen repair specialists in the area, catering to a wide and varied client base.</p>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center justify-content-md-end">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/Lcd_king_shop_image.png" alt="shop_image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-4 my-auto justify-content-center justify-content-md-last">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/what_we_do.png" alt="work_enviroment">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-md beige_background_paragraph">
                        <h4 class="text-center">WHAT WE DO?</h4>
                        <hr class="w-50 mb-1">
                        <p class="information_paragraphs">As well as repairing phone screens, our specialists can provide a full diagnosis of any further issues with your device and rectify them. These may include:</p>
                        <ul>
                            <li>Charging port repair</li>
                            <li>Front/rear camera replacement</li>
                            <li>Sim tray & power button issues</li>
                            <li>Battery replacements</li>
                        </ul>
                        <p class="information_paragraphs">We are one of few businesses offering “top-glass only” repairs, as well as a full LCD screen replacement service, which means that we can fix your device at a much lower price than our competitors!</p>
                </div>
                <div class="col-12 col-md-4 my-auto justify-content-center justify-content-md-first">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/work_enviroment.png" alt="work_enviroment">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first blue_background_paragraph">
                        <h4 class="text-center mt-5">Why Us?</h4>
                        <hr class="w-50 mb-1">
                        <p class="information_paragraphs text-center">Here at LCD King (SY) we use only genuine screens and parts, so you can be sure your repaired device will be of the highest quality.</p>
                        <p class="information_paragraphs text-center">Our repairs usually take between half an hour and an hour to complete and we provide an in-house waiting room for you to relax in while you wait for your device to be fixed.</p>
                        <p class="information_paragraphs text-center">We provide a full three month service warranty in the unlikely event of any problems occurring. As well as walk in repairs.</p>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center justify-content-md-end">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/working_enviroment_2.png" alt="why_us">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-12 order-md-first">
                    <div class="row">
                        <div class="col text-center mt-3">
                            <h2 class="logo-font text-black">Meet the Team</h2>
                        </div>
                    </div>
                    <hr class="w-50 mb-1">
                    <div class="col-12 col-md-12 my-auto justify-content-center justify-content-md-end">
                        <div class="card h-100 no-padding-image mt-4">
                                <img class="card-img-top img-fluid" src="/media/meet_the_team.png" alt="meet_the_team">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-5 my-auto justify-content-center justify-content-md-last">
                    <h4 class="text-center">TEAM OF EXPERTS</h4>
                    <hr class="w-50 mb-1">
                    <p class="information_paragraphs text-center">Your device will be handled by our team of expertly trained phone technicians.</p>
                </div>
                <div class="col-12 col-md-2 order-md"></div>
                <div class="col-12 col-md-5 order-md-last">
                    <h4 class="text-center">QUALITY GUARANTEED</h4>
                    <hr class="w-50 mb-1">
                    <p class="information_paragraphs text-center">We quality check all devices before they are returned to you to ensure there are no issues. We pride ourselves on making your device look as good as new.</p>
                </div>
            </div>
        </div>
    </div>
</div>                       
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}