{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="card-homepage bg-dark text-white">
            <img class="card-img" src="/media/buy_phones.jpeg" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">Refurbished Phones</h5>
              <p class="card-text">Our quality refurbished phones are guaranteed to be great for your peace of mind.</p>
              <a href="{% url 'products' %}" class="get-in-touch btn btn-small text-uppercase py-3">Shop now</a>
            </div>
          </div>
          <div class="card-homepage bg-dark text-white">
            <img class="card-img" src="/media/smartwatches.jpeg" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">Smart Watches</h5>
              <p class="card-text">Very good quality, would not be able to tell it is not brand new..</p>
              <a href="" class="get-in-touch btn btn-small text-uppercase py-3">Shop now</a>
            </div>
          </div>
          <div class="card-homepage bg-dark text-white">
            <img class="card-img" src="/media/tablets.jpeg" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">Tablets</h5>
              <p class="card-text">Our very best refurbished Tablets</p>
              <a href="" class="get-in-touch btn btn-small text-uppercase py-3">Shop now</a>
            </div>
          </div>
          <div class="card-homepage bg-dark text-white">
            <img class="card-img" src="/media/AdobeStock_165653144_1944x.jpeg" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">Service</h5>
              <p class="card-text">Here at LCD King (SY) we use only genuine screens and parts, so you can be sure your repaired device will be of the highest quality.</p>
              <a href="" class="get-in-touch btn btn-small text-uppercase py-3">Chose Service</a>
            </div>
          </div>
    </div>
</div>

{% endblock %}