html {
    height: 100%;
}

body {
    background-color: #f9f9f9;
    background-size: cover;
    color: black;
    font-family: 'Lato';
}

.page-logo {
    background-size: cover;
    height: 150px;
}

a {
    text-decoration: none;
}
.superuser_options {
    margin-left: 50px;
}


.information_paragraphs {
    margin: 0;
}

.blue_background_paragraph{
    background-color: steelblue;
}

.beige_background_paragraph {
    background-color: blanchedalmond;
}

.about-us-container {
    margin-top: 25px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

hr {
    margin: auto;
    margin-top: 1rem;
}

#sort-selector {
    width: 100%;
}

.no-padding-image{
    padding-top: 0 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}

.btt-link {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

/*--------------------------------footer */

.footer {
    background: #152F4F;
    color: white;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.get-in-touch{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
}

.socila-media {
    color: white;
    margin: 10px;
}

.categories {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


.page-logo {
    background-size: cover;
    height: 100px;
}

.logo-font {
    text-transform: uppercase;
    color: white;
}

.platform-logo {
    background-size: cover;
    height: 30px;
}

.slider {
    padding-top: 100px;
    max-height: 650px;
}

.navbar-collapse {
    background-color: #152F4F;
    height: 60px;
}

.header-container {
    padding-top: 204px;
}

.btn-secondary{
    background-color: #f9f9f9;
}

.card{
    padding-top: calc(var(--bs-gutter-x) * .5);
    border: 1px solid #CCCCCC;
}

.card-img-overlay {
    position: relative;
}

.card-homepage {
    border-top: 10px solid black;
    margin-top: 40px;
}


@media (min-width: 1200px) {
    .card-img {
        height: 500px;
    }
    
}

@media (min-width: 980px) {
    .categories-img {
        height: 277px;
    }
}