html {
    height: 100%;
}

body {
    background: url('/media/AdobeStock_165653144_1944x.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Lato';
}

.page-logo {
    background-size: cover;
    height: 150px;
}

