html {
    height: 100%;
}

body {
    background-size: cover;
    color: black;
    font-family: 'Lato';
}

.page-logo {
    background-size: cover;
    height: 150px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
/*--------------------------------footer */

.footer {
    background: #152F4F;
    color: white;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.get-in-touch{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
}

.socila-media {
    color: white;
    margin: 10px;
}

.categories {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


.page-logo {
    background-size: cover;
    height: 100px;
}

.logo-font {
    text-transform: uppercase;
    color: white;
}

.platform-logo {
    background-size: cover;
    height: 30px;
}

.slider {
    padding-top: 100px;
    max-height: 650px;
}

.navbar-collapse {
    background-color: #152F4F;
    height: 60px;
}

.header-container {
    padding-top: 204px;
}

.card{
    margin-top: 40px;
    padding-top: calc(var(--bs-gutter-x) * .5);
}

.card-img-overlay {
    position: relative;
}
