{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-black">TRADERS AND PROFESSIONAL CLIENTS</h2>
            <p>We supply original LCD screens and refurbishment services to companies and independent traders both at home and overseas.</p>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first trade-section orange_background_paragraph">
                        <h4 class="text-center mt-5">OUR CLIENTS.</h4>
                        <hr class="w-50 mb-1">
                        <p class="information_paragraphs text-center">At LCD King (SY) we specialise in working with traders, from independent sellers and small business, to larger companies.</p>
                        <p class="information_paragraphs text-center">We have built a regular and loyal client base and offer lower prices for traders.</p>
                        <p class="information_paragraphs text-center">Our prices for traders are always changing so please get in touch for more details.</p>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center trade-section justify-content-md-end">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/trade_1.png" alt="iphone_image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 trade-section blue_background_paragraph">
                    <h4 class="text-center mt-5">OUR SERVICE</h4>
                    <hr class="w-50 mb-1">
                    <p class="information_paragraphs text-center">At LCD King (SY) we specialise in working with traders, from independent sellers and small business, to larger companies.</p>
                    <p class="information_paragraphs text-center">We have built a regular and loyal client base and offer lower prices for traders.</p>
                    <p class="information_paragraphs text-center">Our prices for traders are always changing so please get in touch for more details.</p>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center trade-section justify-content-md-end">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/trade_2.png" alt="iphone_image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 trade-section order-md-first orange_background_paragraph">
                        <h4 class="text-center mt-5">OUR GUARANTEE</h4>
                        <hr class="w-50 mb-1">
                        <p class="information_paragraphs text-center">Our customers receive three months warranty on all orders in the unlikely event that there is a fault with any of our products.</p>
                        <p class="information_paragraphs text-center"> We also offer replacements for any parts, screens, or repairs that are not deemed satisfactory to our trade customers</p>
                        <p class="information_paragraphs text-center"> (as long as these have genuine issues through our fault) and will send the replacements out with free postage once the returns have been received.</p>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center trade-section justify-content-md-end">
                    <div class="card h-100 no-padding-image">
                            <img class="card-img-top img-fluid" src="/media/trade_3.png" alt="why_us">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-us-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                    <div class="card mt-1 mb-2">
                        <img src="/media/paragraph_logo.png" class="card-img-top" alt="paragraph logo">
                        <div class="card-body">
                            <h5>LCD SCREEN REFURBISHMENT</h5>
                            <hr>
                            <p class="card-text">Have boxes of broken glass LCD screens in working condition lying around your mobile phone shop and not sure what to do with them?
                                Send them to us with the below form and we’ll refurbish them to highest of standards using the latest technology & equipment.</p>
                            <p class="card-text">
                                <ul>
                                    <li>Full testing report provided</li>
                                    <li>90 day warranty</li>
                                    <li>High quality parts</li>
                                </ul>
                            </p>
                            <a href="/media/LCD-Screens-Refurbishment-Form.pdf" target="blank" class="btn btn-primary">Refurbishment Form</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 my-auto justify-content-center justify-content-md-end">
                    <div class="card mt-1 mb-2">
                        <img src="/media/paragraph_logo.png" class="card-img-top" alt="paragraph logo">
                        <div class="card-body"><h5>MOBILE PHONE SCREEN REPAIR</h5>
                         <hr>
                            <p class="card-text">Want to use our refurbishment service but don’t want to risk damaging the screen in the process of disassembly?
                                Or perhaps you have a couple of devices that require full unit LCD screen replacements?
                                No problem! Send the devices to us using the below form and we’ll make them good as new.</p>
                            <p class="card-text">
                                <ul>
                                    <li>Full diagnostic provided</li>
                                    <li>Quick turnaround times</li>
                                    <li>Free delivery on orders over £250</li>
                                </ul>
                            </p>
                            <a href="/media/Mobile-Phone-Screen-Repair-Form_X7yO2ZyVQkCMpqIMvSRr.pdf" target="blank" class="btn btn-primary">Repair Form</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                       
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}