<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Grade</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Iphone
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Iphone 6</a>
                <a href="" class="dropdown-item">Iphone 7</a>
                <a href="" class="dropdown-item">Iphone 8</a>
                <a href="" class="dropdown-item">Iphone X</a>
                <a href="" class="dropdown-item">Iphone 11</a>
                <a href="" class="dropdown-item">Iphone 12</a>
                <a href="" class="dropdown-item">All Iphones</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Samsung
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Samsung S Range</a>
                <a href="" class="dropdown-item">Samsung A Range</a>
                <a href="" class="dropdown-item">Samsung J Range</a>
                <a href="" class="dropdown-item">Samsung Note Range</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tablet
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Samsung</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ipads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Ipad Air</a>
                <a href="" class="dropdown-item">Ipad</a>
                <a href="" class="dropdown-item">Ipad Pro</a>
                <a href="" class="dropdown-item">All Ipads</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accesoris
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Samsung S Range</a>
                <a href="" class="dropdown-item">Samsung A Range</a>
                <a href="" class="dropdown-item">Samsung J Range</a>
                <a href="" class="dropdown-item">Samsung Note Range</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Serive
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Samsung S Range</a>
                <a href="" class="dropdown-item">Samsung A Range</a>
                <a href="" class="dropdown-item">Samsung J Range</a>
                <a href="" class="dropdown-item">Samsung Note Range</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trade
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="" class="dropdown-item">Samsung S Range</a>
                <a href="" class="dropdown-item">Samsung A Range</a>
                <a href="" class="dropdown-item">Samsung J Range</a>
                <a href="" class="dropdown-item">Samsung Note Range</a>
                <a href="" class="dropdown-item">All Samsung</a>
            </div>
        </li>
    </ul>
</div>