<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item categories dropdown">
            <a class="btn logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about_company' %}" role="button">Why US ?</a>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Iphone
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'products' %}?sub_category=iphone_5" class="dropdown-item">Iphone 5</a>
                <a href="{% url 'products' %}?sub_category=iphone_6" class="dropdown-item">Iphone 6</a>
                <a href="{% url 'products' %}?sub_category=iphone_7" class="dropdown-item">Iphone 7</a>
                <a href="{% url 'products' %}?sub_category=iphone_8" class="dropdown-item">Iphone 8</a>
                <a href="{% url 'products' %}?sub_category=iphone_X" class="dropdown-item">Iphone X</a>
                <a href="{% url 'products' %}?sub_category=iphone_11" class="dropdown-item">Iphone 11</a>
                <a href="{% url 'products' %}?sub_category=iphone_12" class="dropdown-item">Iphone 12</a>
                <a href="{% url 'products' %}?category=iphone" class="dropdown-item">All Iphones</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Samsung
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'products' %}?sub_category=samsung_s_range" class="dropdown-item">Samsung S Range</a>
                <a href="{% url 'products' %}?sub_category=samsung_a_range" class="dropdown-item">Samsung A Range</a>
                <a href="{% url 'products' %}?sub_category=samsung_j_range" class="dropdown-item">Samsung J Range</a>
                <a href="{% url 'products' %}?sub_category=samsung_note_range" class="dropdown-item">Samsung Note Range</a>
                <a href="{% url 'products' %}?category=samsung" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tablet
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'products' %}?sub_category=samsung" class="dropdown-item">Samsung</a>
                <a href="{% url 'products' %}?category=tablet" class="dropdown-item">All Samsung</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ipads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'products' %}?sub_category=ipad_air" class="dropdown-item">Ipad Air</a>
                <a href="{% url 'products' %}?sub_category=ipad_air" class="dropdown-item">Ipad</a>
                <a href="{% url 'products' %}?sub_category=ipad_pro" class="dropdown-item">Ipad Pro</a>
                <a href="{% url 'products' %}?category=ipad" class="dropdown-item">All Ipads</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accesoris
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'products' %}?sub_category=accesoris_apple" class="dropdown-item">Accesoris Apple</a>
                <a href="" class="dropdown-item">Accesoris Samsung</a>
                <a href="{% url 'products' %}?category=accesories" class="dropdown-item">All Services</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Service
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apple-link">
                <a href="{% url 'service_devices' %}?device_category=iphone" class="dropdown-item">Service Iphone</a>
                <a href="{% url 'service_devices' %}?device_category=samsung" class="dropdown-item">Service Samsung</a>
                <a href="{% url 'service_devices' %}?device_category=tablet" class="dropdown-item">Service Tablet</a>
                <a href="{% url 'service_devices' %}?device_category=ipad" class="dropdown-item">Service Ipad</a>
                <a href="{% url 'service_devices' %}?device_category=smart_watches" class="dropdown-item">Service Smart-watches</a>
                <a href="{% url 'service_devices' %}?device_category=other_devices" class="dropdown-item">Service Other</a>
                <a href="{% url 'service_categories' %}" class="dropdown-item">All Services</a>
            </div>
        </li>
        <li class="nav-item categories dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trade
            </a>
        </li>
    </ul>
</div>