{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-black">Service Categories</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                        <h4>Here at LCD King (SY) we use only genuine screens and parts,
                            so you can be sure your repaired device will be of the highest quality.</h4>
                        <p>Our repairs usually take between half an hour and an hour to complete and we provide an 
                            in-house waiting room for you to relax in while you wait for your device to be fixed.
                        <p>We provide a full three month service warranty in the unlikely event of any problems occurring.</p>
                        <p>Please get in touch if you have any questions.</p>
                </div>
                
            </div>
            <div class="row">
                {% for service_category in service_categories %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100">
                            {% if service_category.image %}
                            {% if service_category.name == "iphone" %}
                            <a href="{% url 'service_devices' %}?device_category=iphone">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% elif service_category.name == "samsung" %}
                            <a href="{% url 'service_devices' %}?device_category=samsung">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% elif service_category.name == "tablet" %}
                            <a href="{% url 'service_devices' %}?device_category=tablet">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% elif service_category.name == "ipad" %}
                            <a href="{% url 'service_devices' %}?device_category=ipad">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% elif service_category.name == "smart_watches" %}
                            <a href="{% url 'service_devices' %}?device_category=smart_watches">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% elif service_category.name == "other_devices" %}
                            <a href="{% url 'service_devices' %}?device_category=other_devices">
                                <img class="card-img-top categories-img img-fluid" src="{{ service_category.image.url }}" alt="{{ service_category.friendly_name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ service_category.friendly_name }}">
                            </a>
                            {% endif %}
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="lead mb-0 font-weight-bold">{{ service_category.friendly_name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0  text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="mb-0 text-left">Starting from: £{{ service_category.price }}</p>
                                            <button type="button" class="btn btn-secondary text-black">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-mb-block d-lg-none mb-5">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}